@{
    ViewBag.Title = "digital-crumbs";
    Layout = null;
    var swalErrorMessage = string.Empty;
    var swalSuccessMessage = string.Empty;

    if (TempData["SwalErrorMessage"] != null)
    {
        swalErrorMessage = TempData["SwalErrorMessage"].ToString();
        TempData["SwalErrorMessage"] = "";
    }

    if (TempData["SwalSuccessMessage"] != null)
    {
        swalSuccessMessage = TempData["SwalSuccessMessage"].ToString();
        TempData["SwalSuccessMessage"] = "";
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/roboto.css" rel="stylesheet" />
    <link href="~/Content/sweetalert.min.css" rel="stylesheet" />
    <script src="~/Content/pleaserotate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>
        #pleaserotate-graphic {
            fill: #fff;
        }


        #pleaserotate-backdrop {
            color: #fff;
            background-color: #000;
        }
    </style>
    <script>
        /* you can pass in options here */
        PleaseRotateOptions = {
            forcePortrait: true // if you would prefer to force portrait mode
        };
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148152662-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-148152662-1');
    </script>

    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TTPFDWV');</script>
    <!-- End Google Tag Manager -->

    <script type="text/javascript">
        const _baseAPIUrl = 'https://digital-crumbs-script.com';
        $(document).ready(function () {

            $.get("https://pro.ip-api.com/json/?fields=126975&key=Yz9NF1n7w2KydqB", function (response) {
                var userAgent = window.navigator.userAgent,
                    platform = window.navigator.platform,
                    macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
                    windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
                    iosPlatforms = ['iPhone', 'iPad', 'iPod'],
                    os = "";
                if (macosPlatforms.indexOf(platform) !== -1) {
                    os = 'Mac OS';
                } else if (iosPlatforms.indexOf(platform) !== -1) {
                    os = 'iOS';
                } else if (windowsPlatforms.indexOf(platform) !== -1) {
                    os = 'Windows';
                } else if (/Android/.test(userAgent)) {
                    os = 'Android';
                } else if (!os && /Linux/.test(platform)) {
                    os = 'Linux';
                }
                var _user = {};
                _user.UserIP = response.query;
                _user.DomainName = window.location.hostname;
                _user.Location = response.country + ', ' + response.regionName + ', ' + response.city;
                _user.Source = document.referrer;
                _user.mobile = response.mobile;
                _user.os = os;
                _user.browser = window.navigator.userAgent;
                var checkCookie = getCookie("UserSessionStatus");
                if (checkCookie == null || checkCookie == "") {
                    insertUser(_user)
                }
                else {
                    var UserIdSessionId = checkCookie.split(',');
                    UserDetail(UserIdSessionId[0], UserIdSessionId[1]);
                }
            }, "jsonp");

            function insertUser(_user) {
                $.ajax({
                    type: "POST",
                    url: _baseAPIUrl + "/api/AjaxAPI/InsertUser",
                    data: JSON.stringify(_user),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        if (r.id != null || r.id != '') {
                            var _userSession = {};
                            _userSession.UserId = r.Id
                            _userSession.SessionVistTime = new Date();
                            InsertUserSession(_userSession)
                        }
                    }
                });
            }
            function InsertUserSession(_userSession) {
                $.ajax({
                    type: "POST",
                    url: _baseAPIUrl + "/api/AjaxAPI/InsertUserSession",
                    data: JSON.stringify(_userSession),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        if (r.id != null || r.UserId != '') {
                            setCookie("UserSessionStatus", r.UserId + ',' + r.Id, 1);
                            UserDetail(r.UserId, r.Id);
                        }
                    }
                });
            }

            function UserDetail(userId, UserSessionId) {
                var _userDetail = {};
                _userDetail.StartUrl = window.location.href;
                _userDetail.EndUrl = document.referrer;
                _userDetail.UserId = userId;
                _userDetail.PageTitle = document.title;
                _userDetail.SessionDateTime = new Date();

                _userDetail.UserSessionId = UserSessionId;
                $.ajax({
                    type: "POST",
                    url: _baseAPIUrl + "/api/AjaxAPI/InsertUserDetail",
                    data: JSON.stringify(_userDetail),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                    }
                });
            }
            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (2 * 60 * 1000)); //exdays * 24 * 60 * 60 * 1000
                var expires = "expires=" + d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }
            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
        });

    </script>
    <style>
        body {
            background: #007bff;
            background: linear-gradient(to left,#f77408, #ffbe00);
            font-family: Roboto;
        }

        .navbar {
            background-color: black;
        }


        li after {
            background: #fff;
            width: 1px;
            height: 10px;
            display: inline-block;
            position: relative;
            content: '';
            top: 0;
            right: 0;
        }

        .navbar-nav > li > a {
            font-size: 13px;
            color: white;
            display: inline-block;
        }

            .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
                background-color: transparent;
                color: white !important;
            }

        li:nth-child(5)::after {
            display: none;
        }

        li:nth-child(4)::after {
            display: none;
        }

        .navbar-brand {
            color: #FFF;
        }

        .navbar-toggle {
            background-color: white;
        }

        button.navbar-toggle > .icon-bar {
            background-color: black;
        }

        #myNavbar.in {
            background-color: black !important;
        }

        .nav > li > a:focus, a:hover {
            color: black !important;
        }

        .sweet-alert > p.text-muted {
            font-size: 12pt;
        }

        .sweet-alert > h2 {
            font-size: 14pt;
        }

        button.cancel, button.confirm {
            padding: 10px 16px;
            font-size: 14pt;
        }
    </style>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TTPFDWV"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <input type="hidden" id="displaySwalErrorMessage" value="@swalErrorMessage" />
    <input type="hidden" id="displaySwalSuccessMessage" value="@swalSuccessMessage" />
    <nav class="navbar" style="background-color:black;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="padding-left: 65px;" class="navbar-brand" href="@Url.Action("index", "Home")"><img src="~/Content/logo.png" /></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("ContactUs", "Home")">CONTACT US</a></li>
                    <li><a href="@Url.Action("FAQs", "Home")">FAQs</a></li>
                    <li><a href="@Url.Action("ProLogin", "Auth")">LOGIN</a></li>

                    <li>
                        <button onclick="window.location.href = '@Url.Action("ProSignUp", "Auth")';" type="button" class="btn  navbar-btn" style=" margin-left: 10px; background-color: #ffa937; color: white;"><b>TRY US FOR FREE</b></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/Content/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {
            var swalSuccessMessage = $("#displaySwalSuccessMessage").val();
            if (swalSuccessMessage.length > 0) {
                swal("", swalSuccessMessage, "success");
            }

            var swalErrorMessage = $("#displaySwalErrorMessage").val();
            if (swalErrorMessage.length > 0) {
                swal("", swalErrorMessage, "error");
            }
        });
    </script>
    <script>
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
    </script>
</body>
</html>
