@model List<IntegrateGoogleSignIn.Models.specialuser>
@{
    /**/

    ViewBag.Title = "Special Users";
    Layout = "~/Views/Shared/_LayoutExtraUser.cshtml";
    var swalErrorMessage = string.Empty;
    var swalSuccessMessage = string.Empty;
    if (TempData["SwalErrorMessage"] != null)
    {
        swalErrorMessage = TempData["SwalErrorMessage"].ToString();
    }

    if (TempData["SwalSuccessMessage"] != null)
    {
        swalSuccessMessage = TempData["SwalSuccessMessage"].ToString();
    }
}

<link href="~/Content/sweetalert.min.css" rel="stylesheet" />
<input type="hidden" id="displaySwalErrorMessage" value="@swalErrorMessage" />
<input type="hidden" id="displaySwalSuccessMessage" value="@swalSuccessMessage" />

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("AddSpecialUsers", "ExtraUser")" class="btn btn-success pull-right">Add User</a>
            <br />
            <br />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Domain</th>
                        <th class="text-center" width="15%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        foreach (var data in Model)
                        {
                            var domainCollection = data.domainname.Split(',');

                            <tr>
                                <td>@data.name</td>
                                <td>@data.email</td>
                                <td>
                                    @foreach (var domainName in domainCollection)
                                    {
                                        <label>@domainName</label><br />
                                    }
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a href="@Url.Action("UpdateSpecialUsers", "ExtraUser", new {id = data.Id})" class="btn btn-primary">Edit</a>
                                        <a href="@Url.Action("DeleteSpecialUsers", "ExtraUser", new {id = data.Id})" class="btn btn-primary">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="4" class="text-center">No Data Found!</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/Content/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        var swalSuccessMessage = $("#displaySwalSuccessMessage").val();
        if (swalSuccessMessage.length > 0) {
            swal("", swalSuccessMessage, "success");
        }

        var swalErrorMessage = $("#displaySwalErrorMessage").val();
        if (swalErrorMessage.length > 0) {
            swal("", swalErrorMessage, "error");
        }
    });
</script>
